.campaign-dialog {

  &_title {
    text-align: center;
    display:block !important;
  }

  &_block {
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #777;
  }

  &_block_label {
    display: flex;
    align-items: center;
  }

  &_content {
    padding-left: 0;
    padding-right: 0;
  }

  &_action {
    justify-content: center;
    padding: 10px 0 20px !important;

    .v-btn__content {
      color: white;
    }
  }
}